
body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding: 0px;
}

.nav_header ul
{
    display: flex;
    list-style-type: none;
    margin: 10px;

}
.nav_header li
{
    margin: 10px;
  
}

.logo
{
    margin:10px;
    padding-right: 10px;
   
}
.nav_header a
{
 text-decoration: none;
 color: black;
}
header
{
    background-image: url(../media/bg.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
   

}
.top_bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container
{
    max-width: 1200px;
    margin:auto;

}

.banner_desc
{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 500px;
    padding-left: 700px;
    /*padding: 50px ; all parts */
    /*padding: 50px 20px;  top/bottom | left/right */
    /*padding: 50px 20px 30px;  top | left/right | bottom */
    /*padding: 50px 20px 30px 10px;  top | right | bottom | left */
}

.btn
{
    background-color : #10c9c3;
    padding: 30px 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    width: 150px;
 
}

.btn a{
    font-size: 20px;
    text-decoration: none;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    

}

.wrapper
{
    background-color: rgba(255, 255, 255, 0.2)
}
p {
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    color: #a3a3a3;
}

.img_cont
{
    display: flex;
    margin: 1.1em;
}

.button {
    text-decoration: none;
    color: #fff;
}

.new_text {
    display: none;
}

.img_cont:hover .new_text {
    display: block;
}

.custom_btn {
    padding: 20px 50px;
    background-color: #10c9c3;
    width: fit-content;
}

.section {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.stats-progress {
    width: 50%;
    padding: 80px 80px 80px 0;
}

.progress-bar {
    background-color: #484848;
}

.progress-bar .percent {
    background-color: #10c9c3;
    height: 3px;
}

.progress-item:nth-of-type(1) .percent {
    width: 75%;
}

.progress-item:nth-of-type(2) .percent {
    width: 90%;
}

.progress-item:nth-of-type(3) .percent {
    width: 65%;
}

.pro-skills {
    background-image: url("../media/bg.jpeg");
}

/* .light-grey-bg {
    background-color: #f8f9f9;
} */

.green-bg {
    background-color: #10c9c3;
}

.stats {
    display: flex;
}

.block-stats {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 50px 0;
}

.block-stats p,
.block-stats h6 {
    margin: 0 30px;
    color: #fff;
}

.block-stats p {
    font-size: 12px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    width: 100%;
    min-height: 300px;
}

.wrapper-gallery {
    background-image: url("../media/pe-7s-look.png");
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(000, 000, 000, 0.5);
    display: none;
}

.gallery-item:hover .wrapper-gallery {
    display: block;
    cursor: pointer;
}

.gallery-btn{
    padding> 50px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.gallery-btn a {
    text-decoration: none;
    color: #000;
}

/* work process video */
.work-process_video{
    padding: 50px 0;
}

.work-process_video{
    width: 100%;
}

/* services */
.services{
    padding: 50px 0;
    background-color: #f5f5f5;
}

.services .container{
    display: flex;
    flex-wrap: wrap;
}

.services-block{
    width: calc(25% - 40px);
    text-align: center;
    margin: 0 20px;
}

.services-block p{
    font-size: 14px;
}

.services-block h6{
    text-transform: uppercase;
}
